
**/__pycache__
.idea/
webapp/static/vendor/jquery.powertip-1.2.0/
node_modules/
webapp/data/
webapp/static/vendor/amcharts/
webapp/static/vendor/semantic/gulpfile.js
webapp/static/vendor/semantic/src/definitions/
webapp/static/vendor/semantic/src/semantic.less
webapp/static/vendor/semantic/src/theme.less
webapp/static/vendor/semantic/src/themes/
webapp/static/vendor/semantic/tasks/
venv/
env/
.vs/
FintechPy.pyproj
FintechPy.sln
*.tar


