{% macro spacer(width=0.25) -%}
<div style="width: {{ width }}em; display: inline-block"></div>
{%- endmacro %}

{% macro select_by_range(id, min_value, max_value, selected_value, compact='compact') %}
<select class="ui {{compact}} selection dropdown" id="{{id}}">
	{% for i in range(min_value, max_value + 1) -%}
	<option value="{{ i }}" {% if i== selected_value %} selected="selected" {% endif %}>{{ i }}</option>
	{% endfor %}
</select>
{% endmacro %}

{% macro select_by_dict_list(id, list, selected_value, compact='compact', searchable=False) %}
<select class="ui {{compact}} {% if searchable %} search {% else %} selection {% endif%} dropdown" id="{{id}}">
	{% for i in list -%}
	<option value="{{ i['value'] }}" {% if i['value'] == selected_value %} selected="selected" {% endif %}>{{ i['text'] }}</option>
	{% endfor %}
</select>
{% endmacro %}

{% macro gears_loader() %}
<div id="gears_loader" style="display: none;">
<tr >
	<td colspan="4" class="center aligned">
		<img src="{{ url_for('static', filename='images/loading-gears.gif') }}">
	</td>
</tr>
</div>
{% endmacro %}

{% set setypes = [{"value": 1, "text": 'Companies'}, {"value": 2, "text": 'Commodities'}, {"value": 3, "text": 'Markets'},
{"value": 4, "text": 'Sectors'}]%}
{{ select_by_dict_list("abc", setypes, 2) }}

