{% for d in result.main_data %}
    <tr class="center aligned">
        <td>{{ d['dow_name'] }}</td>
        <td>
            <table style="width:100%; border: 1px solid rgba(34, 36, 38, 0.15)">
                <tr>
                    <td style="width: {{ d['percent_positive']|round(2) }}%; background-color: #2ECC40">{{ d['percent_positive'] }}%</td>
                    <td class="green" style="width: {{ d['percent_negative']|round(2) }}%; background-color: #ed0000; color: white">{{ d['percent_negative'] }}%</td>
                    <td class="green" style="width: {{ d['percent_nochange']|round(2) }}%; background-color: #d0d0d0;">{{ d['percent_nochange'] }}%</td>
                </tr>
            </table>
        </td>
        <td>{{ d['positive'] }}</td>
        <td>{{ d['negative'] }}</td>
        <td>{{ d['nochange'] }}</td>
    </tr>
{% endfor %}