{% extends 'admin/base.html' %}

{% block access_control %}
{% if current_user.is_authenticated %}

<div class="btn-group pull-right" style="margin-top: 7px">
    <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
        <i class="icon-user"></i> {{ current_user.email }} <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
        <li><a href="{{ url_for('admin.logout_view') }}">Log out</a></li>
    </ul>
</div>


 <script src="https://code.jquery.com/jquery-1.12.4.js"></script>

{% endif %}

{% endblock %}
{% block tail %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.min.css" />

    <script src="{{ url_for('static', filename='js/moment.min.js') }}" type="text/javascript"></script>

    <script src="{{ url_for('static', filename='js/bootstrap-datetimepicker.min.js') }}" type="text/javascript"></script>
    <script>

        //Function for Getting Query String....
        function getParameterByName(name, url) {
            if (!url) url = window.location.href;
            name = name.replace(/[\[\]]/g, "\\$&");
            var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
                results = regex.exec(url);
            if (!results) return null;
            if (!results[2]) return '';
            return decodeURIComponent(results[2].replace(/\+/g, " "));
        }

        $(document).ready(function(){
           $( "#event_group" ).ready(function() {
               var event_group_id = getParameterByName('event_group');  //get event_group id from query string.
               $('#event_group option[value="'+event_group_id+'"]').prop('selected', true); //Set Selected value of event_group Dropdown.
               var set_text_to_span=$('#event_group option:selected').text();  //get selected value text.
               $("#select2-chosen-1").html(set_text_to_span);   //set selected value text in span tags.
            });
        });
        $(function () {
            $('#starts_on').datetimepicker(
                    {
                        format:'YYYY-MM-DD'
                    }
            );
            $('#ends_on').datetimepicker( {
                        format:'YYYY-MM-DD'
                    });
        });
          $('#starts_on').keypress(function (e) {
              if ((e.keyCode >= 48 && e.keyCode <= 57)) {

              }else{
                  e.preventDefault();
              }
          });

          $('#ends_on').keypress(function (e) {
              if ((e.keyCode >= 48 && e.keyCode <= 57)) {

              }else{
                  e.preventDefault();
              }
          });
  </script>

{% endblock %}
