{% import 'publicweb/partials/macros.html' as macros %}
{% extends 'publicweb/layout.html' %}
{% block body %}
    <div class="ui padded grid">
        <div class="one wide column">
            <span class="ui orange large header"><i class="idea icon"></i></span>
        </div>
        <div class="fifteen wide column">
            <span class="ui orange large header">What was the performance of </span>
			{{ macros.spacer() }}
            {{ macros.select_by_dict_list("stock_entity_type", macros.setypes, 1) }}
			{{ macros.spacer() }}
			<span id="contextual_text_1">
				<span class="ui orange large header">in</span>
				{{ macros.spacer() }}
				<select class="ui selection dropdown" id="market">
					<option value="1">Saudi</option>
				</select>
			</span>
			{{ macros.spacer() }}
			<div class="ui input">
				<input type="text" style="width: 5em" value="{{ days_before }}" id="days_before"/>
			</div>
			{{ macros.spacer(0.1) }}
			<span class="ui orange large header"> days before and </span>
			{{ macros.spacer(0.1) }}
			<div class="ui input">
				<input type="text" style="width: 5em" value="{{ days_after }}" id="days_after">
			</div>
			<span class="ui orange large header"> days after </span>
			{{ macros.select_by_dict_list("event_date", events, event_date, searchable=True) }}
			<div style="width: .5em; display: inline-block"></div>
			<button class="ui button" id="ask_question"> ?</button>
        </div>
    </div>

    <div class="ui styled fluid accordion">
	  	<div class="title">
		    <i class="dropdown icon"></i>
		    Filters
	  	</div>
		<div class="content">
		    <label>Show Top: </label>{{ macros.select_by_range("top_n", 10, 100, 10) }}
	  	</div>
  	</div>

    <table class="ui celled openended table">
        <thead>
        <tr class="center aligned">
            <th class="five wide">Companies</th>
            <th class="three wide">Before {{ days_before }} days</th>
            <th class="three wide">After {{ days_after }} days</th>
            <th class="two wide">Discover more</th>
        </tr>
        </thead>
        <tbody id="result_box">
        </tbody>
    </table>
{% endblock %}
{% block page_js %}
<script type="text/javascript">
	$(function() {
		$('.ui.dropdown').dropdown();
		$('.menu .item').tab();
		$('.ui.accordion').accordion();

		$('#ask_question').on('click', function (e) {
			askQuestion();
		});

		askQuestion();
	});

	function getQuestionParameters() {
		return({
			setid: $('#stock_entity_type').val(),
			days_before: $('#days_before') .val(),
			days_after: $('#days_after') .val(),
			event_date: $('#event_date') .val()
		});
	}

	function askQuestion() {
		p = getQuestionParameters();

		loadWithAjax('{{ url_for('.q4_aggregate_partial') }}' + '/' + p.setid + '/' + p.days_before + '/' + p.days_after +
				'/' + p.event_date,
			// Success Handler
			function(data) {
				$('#result_box').html(data);
			});
	}	
</script>
{% endblock %}
