{% import 'publicweb/partials/macros.html' as macros %}
{% extends 'publicweb/layout.html' %}
{% block body %}
    <div class="ui padded grid">
        <div class="one wide column">
            <span class="ui orange large header"><i class="idea icon"></i></span>
        </div>
        <div class="fifteen wide column">
            <span class="ui orange large header">What was the effect on </span>
			{{ macros.spacer() }}
            {{ macros.select_by_dict_list("company", companies, selected_company_id, searchable=True) }}
			{{ macros.spacer() }}
			<div class="ui input">
				<input type="text" style="width: 5em" value="{{ days_before }}" id="days_before"/>
			</div>
			{{ macros.spacer(0.1) }}
			<span class="ui orange large header"> days before and </span>
			{{ macros.spacer(0.1) }}
			<div class="ui input">
				<input type="text" style="width: 5em" value="{{ days_after }}" id="days_after">
			</div>
			<span class="ui orange large header"> days after </span>
			{{ macros.select_by_dict_list("event_group", event_groups, selected_event_group, searchable=True) }}
			<div style="width: .5em; display: inline-block"></div>
			<button class="ui button" id="ask_question"> ?</button>
        </div>
    </div>

    <div class="ui styled fluid accordion">
	  	<div class="title">
		    <i class="dropdown icon"></i>
		    Filters
	  	</div>
		<div class="content">
		    <label>Show Top: </label>{{ macros.select_by_range("top_n", 10, 100, 10) }}
	  	</div>
  	</div>

    <table class="ui celled openended table">
        <thead>
        <tr class="center aligned">
            <th class="five wide">Event</th>
            <th id="days_before_header" class="three wide">Before {{ days_before }} days</th>
			<th id="between_header" class="three wide">Between</th>
            <th id="days_after_header" class="three wide">After {{ days_after }} days</th>
        </tr>
        </thead>
        <tbody id="result_box">
        </tbody>
    </table>
{% endblock %}
{% block page_js %}
<script type="text/javascript">
	$(function() {
		$('.ui.dropdown').dropdown();
		$('.menu .item').tab();
		$('.ui.accordion').accordion();

		$('#ask_question').on('click', function (e) {
			askQuestion();
		});

		askQuestion();
	});

	function getQuestionParameters() {
		return({
			seid: $('#company').val(),
			days_before: $('#days_before') .val(),
			days_after: $('#days_after') .val(),
			event_group_id: $('#event_group') .val()
		});
	}

	function askQuestion() {
		p = getQuestionParameters();

		$('#result_box').html($('#gears_loader tr').html());

		loadWithAjax('{{ url_for('.q4_individual_probability_partial') }}' + '/' + p.seid + '/' + p.days_before + '/' + p.days_after +
				'/' + p.event_group_id,
			// Success Handler
			function(data) {
				$('#days_before_header').html("Before " + p.days_before + " days");
				$('#days_after_header').html("After " + p.days_after + " days");
				$('#result_box').html(data);
			});
	}	
</script>
{% endblock %}
