{% extends 'publicweb/layout.html' %}
{% block body %}
<a class="ui orange header" href="{{ url_for('publicweb.q1_aggregate', setid=1, direction='above', percent=5, from_yr=2006, to_yr=2016) }}">
	Q1: How many times were Saudi companies above 5% from 2006 to 2016?
</a>

<br/><br/>
<a class="ui orange header" href="{{ url_for('publicweb.q1_individual', setid=1, seid=77, direction='above', percent=5, from_yr=2006, to_yr=2016) }}">
	Q1.1: How many times was SABIC above 5% from 2006 to 2016?
</a>

<br/><br/>
<a class="ui orange header" href="{{ url_for('publicweb.q2_aggregate', setid=1, from_yr=2010, to_yr=2016) }}">
	Q2: What have been the best and worst days for Saudi companies from 2010 to 2016?
</a>

<br/><br/>
<a class="ui orange header" href="{{ url_for('publicweb.q2_individual', setid=1, seid=77, from_yr=2010, to_yr=2016) }}">
	Q2.1: What have been the best and worst weekdays for SABIC from 2010 to 2016?
</a>

<br/><br/>
<a class="ui orange header" href="{{ url_for('publicweb.q4_aggregate', setid=1, days_before=3, days_after=3, event_date='2015-01-01') }}">
	Q4.1: What was the performance of Saudi companies n days before and after some event?
</a>

<br/><br/>
<a class="ui orange header" href="{{ url_for('publicweb.q4_aggregate_probabilities', setid=1, days_before=3, days_after=3, event_group_id=2) }}">
	Q4.2: What was the effect of OPEC Meetings on Saudi companies?
</a>
{% endblock %}